header {
   width: 99vw;
   height: 100px; 
   background-color: darkgray;
}

.left {
    width: 150px;
    height: 1000px;
    background-color: lightgrey;
    z-index: 2;
}

.right {
    width: 150px;
    height: 1000px;
    background-color: lightgrey;
    z-index: 2;
}

section {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: black;
    width: 100vw;
    height: 150px;
}

