body {
    width: 99vw;
    height: 1000px;
}
.box-one {
    background-color: lightgray;
    width: 99vw;
    height: 100px;
    margin: 0px;
}

.mini {
    width: 60px;
    height: 60px;
    background-color: rgb(43, 155, 212);
    position: relative;
    top: 20px;
    left: 10px;
}

.box-two {
    width: 99vw;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-three {
    background-color: rgb(43, 155, 212) ;
    width: 99vw;
    height: 200px;
}

.box-four {
    background-color: rgb(145, 249, 220) ;
    width: 99vw;
    height: 200px;
}

.box-five {
    background-color: rgb(202, 248, 128) ;
    width: 99vw;
    height: 200px;
}

.box-six {
    background-color: rgb(245, 248, 56) ;
    width: 99vw;
    height: 200px;
}

.help {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 5px;
}

.help-container {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    bottom: 5px;
    margin-right: 5px;
}

p {
    width: 1400px;
}